<launch>

  <!-- add by valentin -->
  <include file="$(find move_printer_moveit)/launch/demo.launch"/>

<node name="print_tube_moveit" pkg="move_printer" type="print_tube_moveit.py">
</node>

  <node name="extruder" pkg="move_printer" type="extruder.py">
	<rosparam command="load" file="$(find move_printer)/config/plastic.yaml"/>
  <rosparam param ='/extruder/plastic/color/r'> 1</rosparam>
  <rosparam param ='/extruder/plastic/color/g'> 0</rosparam>
  <rosparam param ='/extruder/plastic/color/b'> 1</rosparam>
  <rosparam param ='/extruder/plastic/material'> PLA</rosparam>
  </node>

</launch>
